# Ready to go

In [ ]:
help()

In [ ]:
word = 'python' #The equal sign (=) is used to assign a value to a variable.
word

In [ ]:
type(word)

In [ ]:
dir(word)

In [ ]:
help(word.islower)

In [ ]:
word.upper()

## Numbers
### The interpreter acts as a simple calculator
The operators +, -, * and / work just like in most other languages 

### NOTE : ALWAYS USE COMMENTS
COMMENTS CAN BE ADDED USING #

In [ ]:
2+2 #Addition

In [ ]:
50-40

In [ ]:
50*10

In [ ]:
50/10 # classic division returns a float

In [ ]:
50//10 # // discards the fractional part

In [ ]:
17%3 #the % operator returns the remainder of the division

In [ ]:
5**2 #the ** operator to calculate powers

In [ ]:
5==2 #comparison operators (these operators can be used in conditional statemtns)

In [ ]:
5!=2 #comparison operators

In [ ]:
5>4

## Exercise

A rectangle has a length of 8 centimeters and a width of 3 centimeters. Find the area.

The equal sign (=) is used to assign a value to a variable

In [ ]:
width=
length=
area=width*length
print(area)

## Strings

Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result. \ can be used to escape quotes

In [ ]:
'python'

In [ ]:
"isn't"

In [ ]:
'isn\'t'

#### print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters

In [ ]:
s = 'First line.\nSecond line.' # \n means newline
print(s)

In [ ]:
print(r'First line.\nSecond line.')  # note the r before the quote

Strings can be concatenated (glued together) with the + operator, and repeated with *

In [ ]:
3*'py'+'thon'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [ ]:
'Py' 'thon'

This feature is particularly useful when you want to break long strings

In [ ]:
text=('i have so many lines,'
     'what do i do?')
print(text) #have to put everything together in parenthesis

### Strings can be indexed, with the first character having index 0. There is no separate character type; a character is simply a string of size one

(Will use board or some paper to show how indexing in python works)

In [ ]:
word="python"

In [ ]:
word[0]  # character in position 0

In [ ]:
word[5]  # character in position 5

### Indices may also be negative numbers, to start counting from the right

In [ ]:
word[-1]  # last character

### In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring

In [ ]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

In [ ]:
word[:2]   # character from the beginning to position 2 (excluded)

In [ ]:
word[-2:]  # characters from the second-last (included) to the end

### Exercise

Display the whole string using negative index

In [ ]:
word[-6:]

In [ ]:
word[::-1] #reverse

In [ ]:
len(word)

## Lists

Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

### Like strings (and all other built-in sequence type), lists can be indexed and sliced

In [ ]:
squares[0]  # indexing returns the item

In [ ]:
squares[-3:]

In [ ]:
squares[:]

In [ ]:
squares + [36, 49, 64, 81, 100] #lists can be concatenated

Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content

In [ ]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [ ]:
cubes[3] = 64  # replace the wrong value

In [ ]:
cubes

In [ ]:
word='python'
word[0]='s'

In [ ]:
cubes.append(216) #can add new values

### It is possible to nest lists (create lists containing other lists), for example:

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

### More methods on lists

In [ ]:
cities = ['cologne','bonn','aachen','berlin']
cities

In [ ]:
cities.append('hamburg')
cities

In [ ]:
cities.insert(1, 'frankfurt')
cities

In [ ]:
cities.remove('hamburg') #items
cities

In [ ]:
cities.pop(0)

In [ ]:
cities.count('bonn')

In [ ]:
cities.sort(reverse=True)
cities

In [ ]:
cities.clear()

In [ ]:
cities

In [ ]:
a=[1,2,3,4]
del a[0]
a

In [ ]:
del a

In [ ]:
a

### Nested lists

In [ ]:
i=[[1,2,3],[4,5,6],[[7,8],[9,10]],[[11,[12]]]]

In [ ]:
i

In [ ]:
i[1]

In [ ]:
i[2][0][1]

### Exercise
#### Print the number 12 using index from the list i

In [ ]:
i[3][0][1][0]

## Tuples 

Tuple is also another standard sequence data type

A tuple consists of a number of values separated by commas, for instance:

In [ ]:
t = 12345, 54321, 'hello!'
t #immutable

In [ ]:
t[0]

In [ ]:
t[0]=666

### Sets

A set is an unordered collection with no duplicate elements

Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. 

##### Note: to create an empty set you have to use set(), not {}; {} creates an empty dictionary

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

In [ ]:
'orange' in basket

In [ ]:
'crabgrass' in basket

In [ ]:
a = set('abracadabra')
a

### Control Flow Tools

#### if conditions

if condition:


< one tab > statements

In [ ]:
x=1

if x<2:
    print("woohoo")

### if else conditions


if condition:

< one tab> statement 1

else condition:

< one tab> statement 2

In [ ]:
x = int(input("Please enter an integer: "))

if x==0:
    print('zero')
    
else:
    print('Not zero')

### if elif conditions

if condition:

< one tab> statement

elif condition:

< one tab> statement

else:

< one tab> statement

In [ ]:
number = int(input("Please enter your number: "))

if number == 0:
    print('Number is zero')
    
elif number > 0:
    print('Number is positive')
else:
    print('Number is negative')

### Pass Statements

In [ ]:
number2=0
if number2 ==0:
    print("its zero")
    
elif number2 ==1:
    print("its one")
else:
    pass

### For Statements

Pythonâ€™s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

for < variable > in sequence:

< one tab> statement1

< one tab> statement2

In [ ]:
numbers =[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)

### range() function

If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy

In [ ]:
for i in range(5):
    print(i)
    i=i+10
    print(i)

### Exercise

Loop through the list "words" given below and print each word in upper case and its length.

In [ ]:
words=['python','perl','R','julia','sql']
words

In [ ]:
for word in words:
    print(word.upper()+' '+ str(len(word)))

In [ ]:
list(range(5)) #generates a list of numbers

### While loop

The while loop executes as long as the condition remains true.

while condition:

< one tab> statements

In [ ]:
number = 1
while number<10:
    print(number)
    number = number + 1

### Break

In [ ]:
while True:
    greetings=['hello','hi','namaste']
    new_word=input('enter your greetings ')
    if new_word == "stop":
        break
    if new_word in greetings:
        print(new_word+ " to you too")
        break

## Defining a Function

def function_name (parameters):

< one tab> statements

How do you call it?????


function_name(parameters)



### Lets write a simple function

In [ ]:
def counting(word_list):
    for word in word_list:
        print('the length of the '+word+' is '+ str(len(word)))

In [ ]:
counting(['apple','monkey','tiger','dog','cat'])

In [ ]:
def forloop(a):
    for i in range(a):
        print(i)

In [ ]:
forloop(5)

In [ ]:
def ifloop():
    x="monkey"
    if x=='monkey':
        print('its a monkey')
ifloop()

### Reading and Writing Files

open() returns a file object, and is most commonly used with two arguments: open(filename, mode)

In [ ]:
with open('output.txt', 'w') as file:
    some_lines="hey, whats up \n i am so happy to be here" 
    
    file.write(some_lines)

In [ ]:
with open('output.txt', 'r') as reading:
    x =reading.read() #read() reads whole file
    print(x)

In [ ]:
with open('output.txt', 'a') as reading:
    some_lines=" \n lets add more lines  \n and more"
    reading.write(some_lines)

In [ ]:
with open('output.txt', 'r') as reading:
    text =reading.read() #read() reads whole file
    print(text)

In [ ]:
with open('output.txt', 'r') as lines:
    x =lines.readline() #readline() reads the lines
    y=lines.readlines()#readlines() reads all the lines
    print(x)
    print(y)

#### You can also loop through the text file

In [ ]:
with open('output.txt', 'r') as file2:
    for i in file2:
        print(i)
        for j in i:
            print(j)

# Last exercise for first part

Write a function that counts the number of nucleotides in the given text document "scn1a.txt"

Note: scn1a.txt is in fasta format

In [ ]:
def nucleotides_count(text_file):    
    with open(text_file, 'r') as file3:
        G=0
        A=0
        T=0
        C=0
        for i in file3:
            if i[0]!=">":
               # print(i)
                for letter in i:
                    if letter =='G':
                        G=G+1
                    if letter =='T':
                        T=T+1
                    if letter =='A':
                        A=A+1
                    if letter =='C':
                        C=C+1
        print("A "+str(A))
        print("T "+str(T))
        print("G "+str(G))
        print("C "+str(C))

In [ ]:
nucleotides_count('scna1.txt')